body {
	font-family: 'Verdana'
}

.smp-main {

}

.smp-form-and-grid {
	display: grid;
	grid-template-columns: auto auto;
}

table {
	border-spacing: 0;
	border-radius: 3px;
	border-left: 1px solid #a6d2a6;
	border-right: 1px solid #a6d2a6;
	border-bottom: 1px solid #a6d2a6;
	margin-top: 10px;
	tr {
		th, td {
			border-bottom: 1px solid #a6d2a6;
			padding: 10px;
		}
		th {
			text-align: center;
		}
		td {
			text-align: left;
		}
	}
	tr:first-child {
		background-color: #81bf81;
	}
	
	tr:nth-child(2n+3) {
		background-color: #a6d2a6;
	}
	
	tr:last-child {
		td {
			border-bottom: none;
		}
	}
}

.btn {
	border: none;
	padding: 5px;
	box-shadow: 2px 2px 5px #000;
	width: 100px;
	border-radius: 3px;
	background: #4f7cf6;
	color: #fff;
}

form {
	border: 1px solid #a6d2a6; 
	padding: 10px;
	margin-top: 10px;
	height: 180px;
	label {
		display: block;
	}
	.inputBox {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

